<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <%=image_tag 'logopapeleria.png',width:"50", height:"50"%>
    Papeleria
  </a>
 </nav>
<h1>Nuevo</h1>
<%=render partial: 'form'%>